body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.caixa, .conteudo, .formulario, #resultado {
    display: flex;
    /* border: 1px solid white; */
}

.conteudo, .formulario, .caixa, #resultado{
    justify-content: center;
    align-items: center;
}

.conteudo, .caixa, .formulario, #resultado {
    flex-direction: column;
}

.conteudo{
    padding-top: 50px;
    padding-bottom: 150px;
}

.formulario, #resultado {
    width: 100%;
}

.caixa {
    margin-top: 10px;
    width: 50%;
/*     border: 1px solid white; */
}

.caixa label{
    font-size: 20pt;
}

.caixa input[type="text"] {
    width: 45%;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25pt;
    text-align: center;
    border: none;
    border: 1px solid black;
    border-radius: 10px;
    transition: ease-in 0.2s;
}

.caixa input[type="text"]:focus {
    width: 50%;
    outline: none;
}

#botao{
    cursor: pointer;
    padding: 10px;
    font-size: 20pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 10%;
    background: none;
    border: none;
    background-color: black;
    color: white;
}

.red {
    color: red;
}

#resultado {
    margin-top: 10px;
    border: 1px solid black;
}